In [1]:
import numpy as np
import scipy
import pandas as pd

In [2]:
#load data

mdata= pd.read_csv('train_imperson_without4n7_balanced_data.csv')

In [3]:
mdata.head()

,1,2,3,5,6,8,9,10,11,12,...,146,147,148,149,150,151,152,153,154,155
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

### Investigating the presence of missing values

In [4]:

mdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97044 entries, 0 to 97043
Columns: 153 entries, 1 to 155
dtypes: float64(48), int64(105)
memory usage: 113.3 MB

In [5]:
#data is complete

m1= mdata.dropna()
m1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97044 entries, 0 to 97043
Columns: 153 entries, 1 to 155
dtypes: float64(48), int64(105)
memory usage: 114.0 MB

### Investigating the presence of duplicate cases

In [6]:
#We should assume data are iid, hence keep duplicates

m2 = mdata.drop_duplicates()
m2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96497 entries, 0 to 97043
Columns: 153 entries, 1 to 155
dtypes: float64(48), int64(105)
memory usage: 113.4 MB

In [108]:
#duplicate rows for reference

mdata[mdata.duplicated() == True].head()

,1,2,3,5,6,8,9,10,11,12,...,146,147,148,149,150,151,152,153,154,155
307,0,0,0,0.000017,0.000017,0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
772,0,0,0,0.000011,0.000011,0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1565,0,0,0,0.000014,0.000014,0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
7708,0,0,0,0.000037,0.000037,0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
13105,0,0,0,0.000011,0.000011,0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

### Descriptive statistics on the training set

In [8]:
mdata.describe().T.describe()

,count,mean,std,min,25%,50%,75%,max
count,153.0,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,97044.0,0.150720,0.058346,0.016340,0.111776,0.144825,0.170367,0.442533
std,0.0,0.315662,0.124710,0.120557,0.301584,0.334706,0.357250,0.482821
min,97044.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,97044.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,97044.0,0.000008,0.000004,0.000000,0.000000,0.000000,0.000000,0.001530
75%,97044.0,0.037225,0.017885,0.000000,0.000000,0.000000,0.002253,1.000000
max,97044.0,1.000000,0.500003,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
#separate X and Y

X, Y = mdata.loc[:, mdata.columns != '155'], mdata['155']

In [10]:
X.head()

,1,2,3,5,6,8,9,10,11,12,...,145,146,147,148,149,150,151,152,153,154
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0

### Statistical analysis of the features matrix

In [5]:
X.describe().T.describe()

,count,mean,std,min,25%,50%,75%,max
count,152.0,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,97044.0,0.148422,0.055441,0.016447,0.112512,0.142489,0.164909,0.438865
std,0.0,0.315419,0.119813,0.120948,0.302444,0.334558,0.351973,0.482274
min,97044.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,97044.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,97044.0,0.000007,0.000003,0.000000,0.000000,0.000000,0.000000,0.000828
75%,97044.0,0.030633,0.017858,0.000000,0.000000,0.000000,0.001862,1.000000
max,97044.0,1.000000,0.473930,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
X.std().value_counts()

0.000000    74
0.014709    11
0.354444     2
0.003210     2
0.062765     2
0.015541     2
0.036295     1
0.008669     1
0.395372     1
0.286272     1
0.260131     1
0.009079     1
0.263952     1
0.000002     1
0.271498     1
0.002383     1
0.373863     1
0.013305     1
0.000414     1
0.005749     1
0.279912     1
0.001966     1
0.000030     1
0.145165     1
0.058399     1
0.001220     1
0.457477     1
0.457572     1
0.017849     1
0.000002     1
            ..
0.281597     1
0.116929     1
0.025487     1
0.000311     1
0.015720     1
0.220310     1
0.000998     1
0.032084     1
0.011518     1
0.456470     1
0.060476     1
0.109809     1
0.017885     1
0.126024     1
0.360078     1
0.262489     1
0.473930     1
0.001139     1
0.004540     1
0.450047     1
0.014432     1
0.021289     1
0.074530     1
0.021005     1
0.165173     1
0.002451     1
0.024858     1
0.010997     1
0.032883     1
0.224398     1
Length: 65, dtype: int64

### Dataset 1: features with variance greater than zero

In [6]:

#Xselected with 0 var taken out

from sklearn.feature_selection import VarianceThreshold


selector = VarianceThreshold()

selector.fit(X)
col = X.columns[selector.get_support()]
Xselected= X.loc[:, col ]

In [7]:
Xselected.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000066,0.000066,0.009150,0.009150,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000014,0.000014,0.000000,0.000000,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.035528,0.035528,0.070588,0.070588,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.005128,0.005128,0.094771,0.094771,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035116,0.035116,0.070588,0.070588,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
Xselected.shape

(97044, 78)

In [22]:
Xselected.skew().median()

4.84847723941932

### Dataset 2: variance greater than zero and scaled to a range [0, 1]

In [9]:
#normalised range 0 1


from sklearn.preprocessing import MinMaxScaler


scaler1 = MinMaxScaler().fit(Xselected)
scaled0_1=scaler1.transform(Xselected)

In [10]:
# dataframe normalised range 0_1

NX3df = pd.DataFrame(scaled0_1, columns= Xselected.columns)
NX3df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000064,0.000064,0.009150,0.009150,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000012,0.000012,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.036308,0.036308,0.070588,0.070588,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.005238,0.005238,0.094771,0.094771,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035887,0.035887,0.070588,0.070588,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Dataset 3: variance greater than zero and power transform

In [11]:
#Power transform

from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer(method = 'yeo-johnson').fit(Xselected)
poweredX2 = pt.transform(Xselected)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:121: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:122: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)

In [12]:
#dataframe power gaussian 

PX2df = pd.DataFrame(poweredX2, columns= Xselected.columns)

PX2df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,-1.527311,-1.527311,-0.883721,-0.883721,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
1,-1.553062,-1.553062,-1.090489,-1.090489,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
2,2.623799,2.623799,0.166931,0.166931,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
3,0.371013,0.371013,0.458800,0.458800,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
4,2.620509,2.620509,0.166931,0.166931,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655

In [16]:
PX2df.skew().median()

2.899257065741918

### Dataset 4: variance greater than zero and norm one

In [13]:
#Normalizer transforms to  norm 1

from sklearn.preprocessing import Normalizer

scaler = Normalizer().fit(Xselected)
normalizedX2 = scaler.transform(Xselected)

In [14]:
#dataframe with norm 1

NX2df = pd.DataFrame(normalizedX2, columns = Xselected.columns)

NX2df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000015,0.000015,0.002125,0.002125,0.232240,0.232240,0.232240,0.232240,0.232240,0.232240,...,0.0,0.116120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000004,0.000004,0.000000,0.000000,0.252240,0.252240,0.252240,0.252240,0.252240,0.252240,...,0.0,0.126120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.008282,0.008282,0.016454,0.016454,0.233105,0.233105,0.233105,0.233105,0.233105,0.233105,...,0.0,0.116553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.001145,0.001145,0.021168,0.021168,0.223356,0.223356,0.223356,0.223356,0.223356,0.223356,...,0.0,0.111678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.008178,0.008178,0.016439,0.016439,0.232884,0.232884,0.232884,0.232884,0.232884,0.232884,...,0.0,0.116442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0